* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #929aab3b;
}

.content {
    margin: 10px 60px 0px 60px;
    background-color: #ffffff;
    box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.5), 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.content input {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    font-weight: normal;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    color: rgb(87, 87, 84);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

.submit-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-color: 1px solid rgb(80, 80, 76);
}

.reset-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-color: 1px solid rgb(80, 80, 76);
}